body{
    margin: 5px;
    text-align: justify;
    border-color: #3B1F9E;
}

.container{
    margin-bottom: 100px;
}

h2{
    text-align: left;
    color: #3B1F9E;
    font-weight: bold;
}

.about-text {
    font-weight: normal;
    font-family: Nunito;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 100px;
    
  }

  @media (max-width: 575px){
    .container{
        margin-top: 100px;
        margin-right: 10px;
        padding: 20px;
        width: fit-content;
    }
}
