*{
    scroll-behavior: smooth;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito' !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 2em !important;
    color: rgba(12, 10, 90, 0.8) !important;
}
h3{
    color: rgba(12, 10, 90, 0.8) !important;
}
.list-inline-item a{
    color:  #828282 !important;
}
p{
    text-align: justify;
}
.disclaimer{
    text-decoration: none;
    font-size: 1.3em !important;
    color: #3B1F9E !important;
}
a:hover{
    text-decoration: none !important;
    color: orange !important;
}
